body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    margin-right: 20px;
    font-weight: normal;
}

.header span {
    font-size: 14px;
    color: #9B9B9B;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #9B9B9B;
}

.footer p {
    margin: 0;
    margin-right: 20px;
}

.footer a {
    color: #0076FF;
    text-decoration: none;
}
